/* ===== PALETA VERDE AZULADA ===== */

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    margin-top: 500;
}

/* Navbar */
.navbar {
    background-color: #2f3e46 !important;
}
.navbar .nav-link,
.navbar .navbar-brand {
    color: #cad2c5 !important; /* texto claro */
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #84a98c !important; /* verde suave en hover */
}

/* Botones */
.btn-primary {
    background-color: #354f52 !important;
    border-color: #354f52 !important;
    color: #fff !important;
}
.btn-primary:hover {
    background-color: #52796f !important;
    border-color: #52796f !important;
}

/* Botones uniformes en tablas */
table .btn {
    background-color: #354f52 !important;
    border-color: #354f52 !important;
    color: #fff !important;
}

table .btn:hover {
    background-color: #52796f !important; /* tono más claro al pasar el mouse */
    border-color: #52796f !important;
}
.table td .btn,
.table td form {
    display: inline-flex;
    flex-wrap: nowrap;   /* evita salto de línea */
    white-space: nowrap; /* evita cortar texto */
}

.table td {
    white-space: nowrap;
}